@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Montserrat', sans-serif;
    background-color: #24252a;
}

li,
a,
button {
    text-decoration: none;
    font-family: 500;
    font-size: 16px;
    color: #edf0f1;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    margin-right: auto;
    letter-spacing: 2px;
    transition: all 0.3s ease 0s;
}

.logo:hover {
    color: blueviolet;
}

.navbar_links li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;

}

.a_link {
    position: relative;
    padding-bottom: 8px;
    cursor: pointer;
}

.a_link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: blueviolet;
    transition: width 0.4s ease-out;
}

.a_link:hover.a_link::after {
    width: 100%;
}


button {
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    /* background-color: rgba(0, 130, 140, 1); */
    background-color: blueviolet;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.1);
}